body {
    margin: 0;
    font-family: 'Karla', sans-serif;
    background-color: #2b2a33;
    color: white;
    overflow-x: hidden;
}
button{
    background-color: #e66466;
    color: #2b2a33;
    margin: 10px;
    border:  none;
    width:  150px;
    height: 30px;
    border-radius: 5px;
    cursor: pointer;
}


.container{
    margin: 30px;
    display: flex;
    flex-direction:  column;
    justify-content: center;
    align-items: center;
}

.profile{
    margin: 50px;
    border-radius: 25px;
    width: 60vw;
    background: linear-gradient(#e66465, #9198e5);
}